.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  position: relative;
  overflow: hidden;
  color: white;
}

.footer__content {
  display: flex;
  position: relative;
  margin: 60px 80px 108px 80px;
  justify-content: space-between;
}

.footer__logo {
  top: 0;
  left: 0;
  width: 105px;
  height: 39px;
}

.footer__social-media-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  bottom: 0;
}

.footer__social-heading {
  position: relative;
  top: 0;
  right: 0;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: bold;
}

.footer__list {
  position: relative;
  padding: 0;
  margin: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

.footer__social-link {
  color: white;
  height: 16px;
  text-decoration: none;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__list-item {
  display: flex;
}

.footer__list-item:first-of-type {
  margin-bottom: 16px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin-bottom: 60px;
  margin-left: 80px;
  padding: 0;
}
