.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 385px;
}

.form__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  position: relative;
  margin-bottom: 8px;
  font-weight: 500;
}

.form__input {
  border-radius: 4px;
  border-color: #838383;
  height: 60px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__input_date_time {
  color: #6f6f6f;
}

.form__button {
  border-radius: 4px;
  opacity: 1;
  height: 60px;
  margin-bottom: 32px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  max-width: 385px;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  color: white;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  margin-right: 12px;
}
