.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__title {
  max-width: 729px;
  margin-top: 183px;
  margin-bottom: 28px;
  margin-left: 80px;
  padding: 0;
  font-weight: 500;
  letter-spacing: -0.6px;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #2f80ed;
}

.header__description {
  margin-bottom: 28px;
  margin-top: 0;
  max-width: 683px;
  margin-left: 80px;
  padding: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin: auto 80px 40px;
}

.header__footer_hours-column {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 500;
  color: #838383;
}

.header__paragraph {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph_address {
  position: relative;
  margin-top: auto;
}
