.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  overflow-x: hidden;
}

.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__title {
  max-width: 729px;
  margin-top: 183px;
  margin-bottom: 28px;
  margin-left: 80px;
  font-weight: 500;
  letter-spacing: -0.6px;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #2f80ed;
}

.header__description {
  margin-bottom: 28px;
  max-width: 683px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin-top: 30px;
  margin-right: 80px;
  font-weight: 500;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  top: 30px;
  left: 30px;
}

.header__footer {
  margin-top: auto;
}

.header__paragraph {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-weight: 500;
  color: #838383;
}

.header__paragraph_hours {
  list-style-type: none;
  position: relative;
  left: 80px;
  bottom: 40px;
  flex-direction: column;
}

.header__paragraph_address {
  position: relative;
  right: 80px;
  bottom: 40px;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  position: relative;
  left: 80px;
  margin-top: 100px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  position: relative;
  left: 80px;
  margin-bottom: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  column-gap: 40px;
  margin: 0 auto 215px;
}

.recipes__vid-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 24px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos-title {
  position: relative;
  left: 0;
  bottom: 0;
  margin: 0;
}

.recipes__videos-duration {
  position: relative;
  left: 0;
  bottom: 0;
  margin: 0;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.reservation__form {
  margin: auto;
  margin-bottom: 120px;
}

.reservation__title {
  margin: 100px auto 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 385px;
  width: 385px;
}

.form__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.form__label {
  position: relative;
  margin-bottom: 8px;
  top: 0;
  left: 0;
  font-weight: 500;
}

.form__input {
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.date_time {
  color: #6f6f6f;
}

.form__button {
  border-radius: 4px;
  opacity: 1;
  height: 60px;
  margin-bottom: 32px;
  font-weight: 500;
  max-width: 385px;
  width: 385px;
  font-weight: 500;
  background-color: #2f80ed;
}

.form__button:hover {
  opacity: 0.7;
  transition: opacity;
}

.form__label_checkbox {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  margin-right: 12px;
}
